hw1_CompundWords/ADS_hw1_report.pages
hw1_CompundWords/Compound Words.out
hw1_CompundWords/README.txt

hw2_OptimalBST/ADS_hw2_report.pages
hw2_OptimalBST/Optimal Binary Search Tree.out
hw2_OptimalBST/README.txt

hw3_EatorNot2Eat/ADS_hw3_report.pages
hw3_EatorNot2Eat/Eat or Not to Eat.out
hw3_EatorNot2Eat/README.txt

hw4_DynamicFrog/ADS_hw4_report.pages
hw4_DynamicFrog/Dynamic Frog.out
hw4_DynamicFrog/README.txt